[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
WorkingDirectory=/usr/local/server
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar server.jar nogui
RemainAfterExit=true
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
