[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/usr/local/minecraft
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar /usr/local/minecraft/server.jar nogui
RemainAfterExit=true
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
